<%- include("templates/cabecera.ejs", {tituloWeb:'Panel de Administración'}) %>

  <div class="container">
    <h1>CRUD Mongo</h1>
    <a class="btn btn-success btn-block my-4" href="/equipos/crearEquipos">Crear un nuevo equipo</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Estadio</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayEquipos.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayEquipos.forEach(equipos => { %>
                        <tr>
                            <th scope="row"><%= equipos.id %></th>
                            <td><%= equipos.Nombre %></td>
                            <td><%= equipos.Estadio %></td>
                            <td><%= equipos.Capacidad %></td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="/equipos/<%= equipos.id %>">Editar/Eliminar</a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
          </tbody>
        </table>
    </div>


<%- include("templates/footer.ejs") %>